h2{
    background-color: blue;
    color: chartreuse;
}
#ayurveda_foto{
    width: 10%;
}

#produto_foto{
    width: 20%;
}
p {
    font-family: "Arial";
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(233, 77, 16);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }